<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
    </style>
</head>

<body>
<table style="width:100%">
  <tr>
    <th>No. of Lines</th>
    <th>No. of Words</th>
    <th>No. of Characters</th>
  </tr>
  <tr>
    <td align="center">{{ line }}</td>
    <td align="center">{{ words }}</td>
    <td align="center">{{ characters }}</td>
  </tr>
</table>
</body>
</html>